a.site-link {
    font-family: "微软雅黑",tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

a.my-nav-link {
    font-family: "微软雅黑",tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
    font-size: 20px;
}

h3.my-section-title {
    font-family: "黑体",tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
    font-size: 25px;
}

h2.my-title {
    font-family: tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
}

p.my-paragraph {
    font-family: tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
    font-size: 22px;
}

.boxup{
position:fixed;
right:10px;
bottom: 10px;
height:50px;
width: 50px;    
text-align:center;
padding-top:20px;    
/* background-color: white; */
border-radius: 20%;
overflow: hidden;
}
.boxup:hover:before{
top:50%
}
.boxup:hover .boxup-in{
visibility: hidden;
}
.boxup:before{
position: absolute;
top: -50%;
left: 50%;
transform: translate(-50%,-50%);
content:'回到顶部';
width: 40px;
color:black;
font-weight:bold;

}    
.boxup-in{
visibility: visible;
display:inline-block;
height:20px;
width: 20px;
border: 3px solid /*white*/;
border-color: black transparent transparent black;
transform:rotate(45deg);
}